In [325]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')
data_train.sample(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1334,1335,160,RM,24.0,2368,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,125000
97,98,20,RL,73.0,10921,Pave,NaN,Reg,HLS,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,94750
659,660,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2009,WD,Normal,167000

In [326]:
def drop_low_colums(df):
    data_corr=df.corr()
    d_list=data_corr[data_corr.SalePrice<0.5].index.tolist()
    return d_list

data_train=data_train.drop(['YearBuilt','1stFlrSF'], axis=1)
data_test=data_test.drop(['YearBuilt','1stFlrSF'], axis=1)
data_drop_train=data_train.drop(['Alley','PoolQC','Fence','MiscFeature'], axis=1)
data_drop_test=data_test.drop(['Alley','PoolQC','Fence','MiscFeature'], axis=1)
drop_list=drop_low_colums(data_drop_train)
data_drop_train1=data_drop_train.drop(drop_list, axis=1)
data_drop_test1=data_drop_test.drop(drop_list, axis=1)

In [327]:
data_drop_train1=data_drop_train1.fillna('N')
data_drop_test1=data_drop_test1.fillna('N')

In [328]:
from sklearn import preprocessing
def encode_features(df_train, df_test):
    features = data_drop_train1.select_dtypes(include=object).columns
   
    
    for feature in features:
        le = preprocessing.LabelEncoder()
        df_train[feature] = le.fit_transform(df_train[feature])
        df_test[feature] = le.fit_transform(df_test[feature])
    return df_train, df_test
    
data_train, data_test = encode_features(data_drop_train1, data_drop_test1)

In [329]:
data_drop_train2=data_train.corr()
drop_list2=list(data_drop_train2.query('SalePrice<0.5').index)
data_drop_train2=data_train.drop(drop_list2, axis=1)
data_drop_test2=data_test.drop(drop_list2, axis=1)

In [330]:
def change_colums(colums):
    fz=np.ceil(np.log2(colums.max()))
    colums_max=colums.max()
    colums_min=colums.min()
    zj=np.ceil((colums_max-colums_min)/fz)
    count=0
    year=colums_min
    list2 = []
    while count<fz:
        list2.append(year)
        count+=1
        year+=zj
    bins = list2
    return bins

bins=change_colums(data_drop_train2.GarageArea)
data_drop_train2['GarageArea'] = pd.cut(data_drop_train2.GarageArea, bins, right = False)
bins=change_colums(data_drop_train2.GrLivArea)
data_drop_train2['GrLivArea'] = pd.cut(data_drop_train2.GrLivArea, bins, right = False)
bins=change_colums(data_drop_train2.TotalBsmtSF)
data_drop_train2['TotalBsmtSF'] = pd.cut(data_drop_train2.TotalBsmtSF, bins, right = False)
bins=change_colums(data_drop_train2.YearRemodAdd)
data_drop_train2['YearRemodAdd'] = pd.cut(data_drop_train2.YearRemodAdd, bins, right = False)

In [331]:
data_drop_test2.loc[data_drop_test2['TotalBsmtSF'] == 'N'] = 0
data_drop_test2.loc[data_drop_test2['GarageArea'] == 'N'] = 0
data_drop_test2.loc[data_drop_test2['GrLivArea'] == 'N'] = 0

F:\soft\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [369]:
data_drop_test2=data_drop_test2.drop([660,1116])

Empty DataFrame
Columns: [OverallQual, YearRemodAdd, TotalBsmtSF, GrLivArea, FullBath, TotRmsAbvGrd, GarageCars, GarageArea]
Index: []

In [386]:
data_drop_test2["TotalBsmtSF"] = data_drop_test2["TotalBsmtSF"].astype("int64")
data_drop_test2["GarageArea"] = data_drop_test2["GarageArea"].astype("int64")
data_drop_test2["GrLivArea"] = data_drop_test2["GrLivArea"].astype("int64")
data_drop_test2["GarageCars"] = data_drop_test2["GarageCars"].astype("int64")
data_drop_test2.loc[data_drop_test2['YearRemodAdd'] == '0'] = int(data_drop_test2["YearRemodAdd"].mean())

TypeError: int() argument must be a string, a bytes-like object or a number, not 'pandas._libs.interval.Interval'

In [371]:
bins1=change_colums(data_drop_test2.YearRemodAdd)
data_drop_test2['YearRemodAdd'] = pd.cut(data_drop_test2.YearRemodAdd, bins1, right = False)
bins2=change_colums(data_drop_test2.TotalBsmtSF)
data_drop_test2['TotalBsmtSF'] = pd.cut(data_drop_test2.TotalBsmtSF, bins2, right = False)
bins3=change_colums(data_drop_test2.GarageArea)
data_drop_test2['GarageArea'] = pd.cut(data_drop_test2.GarageArea, bins3, right = False)
bins4=change_colums(data_drop_test2.GrLivArea)
data_drop_test2['GrLivArea'] = pd.cut(data_drop_test2.GrLivArea, bins4, right = False)

In [395]:
data_drop_test2=data_drop_test2.dropna(axis=0)
data_drop_train2=data_drop_train2.dropna(axis=0)

In [404]:
def encode_features1(df_train, df_test):
    features = ['YearRemodAdd', 'TotalBsmtSF', 'GrLivArea', 'GarageArea']
    df_combined = pd.concat([df_train[features], df_test[features]])
    
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(df_combined[feature])
        df_train[feature] = le.transform(df_train[feature])
        df_test[feature] = le.transform(df_test[feature])
    return df_train, df_test

data_train1, data_test1 = encode_features1(data_drop_train2, data_drop_test2)

F:\soft\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

F:\soft\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [406]:
data_test1

,OverallQual,YearRemodAdd,TotalBsmtSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea
0,5,1,4,3,1,5,1,11
1,6,1,6,4,1,6,1,5
2,5,8,4,6,2,6,2,7
3,6,8,4,6,2,7,2,7
4,8,7,6,4,2,5,2,7
5,6,7,2,6,2,7,2,7
6,6,9,4,4,2,6,2,7
7,6,8,4,4,2,7,2,5
8,7,6,6,4,1,5,2,7
9,4,3,4,3,1,4,2,7
10,7,8,6,4,2,5,2,7
11,6,3,2,3,1,5,1,3
12,5,3,2,3,1,6,1,5
13,6,4,4,4,2,6,2,7
14,7,4,4,3,1,4,1,5
17,9,9,8,6,2,7,3,11
18,8,9,8,6,2,8,3,9
19,9,9,13,12,2,10,3,15
20,8,8,8,10,2,7,3,11
21,8,9,6,4,2,6,2,7
22,6,9,6,4,2,6,2,7
23,7,9,4,4,2,6,2,7
24,7,9,0,4,2,7,2,5
25,7,9,4,6,2,7,2,7
26,8,8,8,10,2,7,3,15
27,8,9,8,6,2,6,3,13
29,6,9,6,4,2,6,2,7
30,7,9,4,6,2,8,2,7
31,5,0,4,3,1,5,1,7
32,6,8,6,6,2,7,2,7
...,...,...,...,...,...,...,...,...
1429,4,0,2,1,1,4,1,5
1430,6,1,4,6,2,6,1,5
1431,3,0,0,1,1,5,0,1
1432,5,0,2,4,2,8,0,1
1433,3,0,0,3,1,6,0,1
1434,8,9,8,6,2,5,2,7
1435,8,9,8,6,2,5,2,7
1436,6,4,8,6,2,6,2,9
1437,6,4,8,6,2,10,2,9
1438,8,8,6,6,2,7,2,7
1439,6,4,4,4,2,6,2,7
1440,6,1,8,6,1,6,2,7
1441,6,8,6,4,2,5,2,7
1442,8,9,8,8,2,8,3,11
1443,9,9,8,6,2,9,3,11
1444,1,0,0,6,1,6,1,3
1445,7,7,6,4,2,8,4,11
1446,5,4,0,4,1,5,1,5
1447,5,8,4,3,1,5,1,5
1448,5,3,8,6,2,8,3,13
1449,4,3,2,1,1,3,0,1
1450,4,3,2,3,1,5,1,3
1451,5,4,4,4,1,8,1,5
1452,4,3,2,3,1,5,1,5
1453,4,3,2,3,1,5,0,1
1454,4,3,2,3,1,5,0,1
1455,4,3,2,3,1,6,1,5
1456,5,7,6,4,1,7,2,9
1457,5,7,4,3,1,6,0,1
1458,7,7,4,8,2,9,3,9